html, body {
  background: #181a1b ;
  border-color: #736b5e;
  color: #e8e6e3;
  font-family: SpyAgency, Arial, sans-serif;
}

H3 {
  color:#e8e6e3;
  font-weight: bolder;
  border-bottom: 1px solid;
  padding-bottom: .3rem;
}

a {
  color: #504d49;
  font-size: 1rem;
  font-weight: 400;
}

H1 {
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

:root {
--bgcolor: #222;
--fgcolor: #eee;
--boardfg: white;
--boardbg: black;
--high: #ccc;
--medhigh: #aaa;
--lowhigh: #888;
--highlow: #666;
--medlow: #555;
--low: #444;
--lowlow: #333;
}