html, body {
  background: #181a1b ;
  border-color: #736b5e;
  color: #e8e6e3;
  font-family:Arial, Helvetica, sans-serif;
}
H3 {
  color:#e8e6e3;
  font-weight: bolder;
  border-bottom: 1px solid;
  padding-bottom: .3rem;
}

a {
  color: #504d49;
}